

body {
    background-color: lightseagreen;
}

#wrapper {
    margin: 50px;
    background:lightblue;
}
h1 {
    text-align: center;
    margin-top: 10px;
}
#timer {
    font-weight: bold;
}
#start {
    margin-bottom: 10px;
}
#checkAnswer {
    margin-bottom: 10px;
}


